@font-face {
    font-family: Abel-Regular;
    src:url('../assets/fonts/Abel/Abel-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
 }

